
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.env
allure-results/
allure-report/
playwright-report/
test-results/
reports/
logs/
logs/